.sidebar-container {
  width: 15%;
  min-width: 295px;
  height: 100vh;
  min-height: 695px;
  background-color: var(--accent-purple-light);
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  box-sizing: border-box;
}

.sidebar-logo {
  padding: 0 12%;           
  margin-top: 30px;
  display: flex;            
  align-items: center;
  gap: 16px;
}

.sidebar-logo img {
  width: 70px;
  height: auto;
  object-fit: contain;
}

.logo-text {
  font-family: "Tektur", sans-serif;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  line-height: 0.95;
}

.logo-craft {
  color: var(--accent-purple); 
  text-shadow: 0 0 8px var(--purple-card);
}

.logo-lumen {
  color: var(--accent-yellow);
  text-shadow: 0 0 10px #FFCB5899;
}
.sidebar-menu{
  margin: auto 0;
  padding-bottom: 25%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.menu-item {
  display: flex;
  align-items: center;
  padding: 28px 16%;
  gap: 35px;
  cursor: pointer;
  color: var(--text-light);
  font-family: "Tektur", sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 5%;
  transition: background 0.2s ease;
}

.menu-item.active {
  color: var(--accent-yellow);
}

.menu-item:hover {
  background: #766eed13;
}

.icon-wrapper {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapper img {
  height: 80%;
  object-fit: contain;
}

.sidebar-footer {
  align-items: flex-end;
  padding: 0;
  flex-shrink: 0;
}