.base-input-wrapper {
  width: 100%;
  max-width: 450px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--purple-card);
  border-radius: 15px;
  padding: 4px 24px;
  transition: all 0.3s ease;
  box-sizing: border-box;
  height: 50px;
}

.base-input-wrapper:focus-within {
  box-shadow: 0 0 7px var(--purple-card);
}

.base-input-element {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-light);
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 0.02em;
  padding: 0;
}

.base-input-element::placeholder {
  color: var(--text-light);
  opacity: 0.6;
}