.base-input-wrapper {
  width: 100%;
  max-width: 450px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--purple-card);
  border-radius: 15px;
  padding: 4px 30px;
  box-shadow: 0 0 15px var(--accent-purple-light);
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.base-input-wrapper:focus-within {
  box-shadow: 0 0 22px var(--purple-card);
  border-color: var(--accent-purple);
}

.base-input-element {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-light);
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 0.06em;
  padding: 12px 0;
}

.base-input-element::placeholder {
  color: var(--text-light);
  opacity: 0.6;
}