.calendar-container {
    display: flex;
    flex-direction: column;
    background-color: var(--accent-purple-light);
    padding: 24px 20px 24px 20px;
    border-radius: 20px;
    height: 400px;
    width: 400px;
    box-sizing: border-box;
    margin-top: 50px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 8px 17px;
}

.calendar-title {
    font-size: 26px;
    font-family: "Tektur", sans-serif;
    font-weight: 600;
    color: var(--text-light);
    letter-spacing: 2%;
}

.nav-button {
    background: var(--accent-purple-light);
    color: var(--text-light);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px var(--accent-purple);
    transition: 0.3s;
}

.nav-button:hover {
    box-shadow: 0 0 15px var(--accent-purple);
}
.date-display{
    font-size: 18px;
    color: var(--text-light);
    font-family: "Fira Sans", sans-serif;
    letter-spacing: 6%;
}
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 22px 0;
    justify-items: center;
    align-items: center;
}

.grid-day {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: var(--text-light);
    font-family: "Fira Sans", sans-serif;
    font-size: 17px;
}


.grid-day.active-day::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33px;
    height: 33px;
    background-color: var(--accent-purple);
    border-radius: 50%;
    z-index: -1;
}

.grid-weekday {
    color: var(--accent-yellow);
    font-weight: 600;
}

.grid-day.empty {
    cursor: default;
}