.dashboard-grid {
  display: grid;
  padding: 55px 42px 55px 42px;
  grid-template-columns: 1fr 400px;
  gap: 5%;
  height: 100vh;
  align-items: stretch;
  box-sizing: border-box;
  overflow: hidden;
}

.page-title {
  font-family: 'Tektur', sans-serif;
  color: var(--text-light);
  font-size: 48px;
  text-transform: capitalize;
}
.dashboard-left {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.dashboard-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 62px;
  justify-content: space-between;
  box-sizing: border-box;
}

.calendar-wrapper {
  width: 400px;
}

.timelines-section {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  gap: 25px;
  width: 400px;
  flex-grow: 1;
}