.container {
  background-color: var(--accent-purple-light);
  padding: 25px 20px;
  border-radius: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.timeline-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.timeline-title {
  font-size: 25px;
  font-family: "Tektur", sans-serif;
  font-weight: 600;
  color: var(--text-light);
  letter-spacing: 2%;
}

.festival-name {
  color: var(--text-light);
  font-family: "Fira Sans", sans-serif;
  font-size: 17px;
  letter-spacing: 2%;
  font-weight: 400;
  opacity: 0.8;
}

.timeline-body {
  display: flex;
  align-items: center;
  gap: 20px;
}