.container {
  background-color: var(--bg-dark);
  padding: 25px 20px;
  border-radius: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.timeline-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title {
  color: var(--text-light);
  font-family: "Tektur", sans-serif;
  font-size: 26px;
  font-weight: 600;
  margin: 0;
}

.festival-name {
  color: var(--text-light);
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
}

.timeline-body {
  display: flex;
  align-items: center;
  gap: 20px;
}