* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-dark: #1C142E; 
  --text-light: #F1EBFF;
  --accent-purple: #776EED;
  --purple-card: #49418A;
  --accent-purple-light: #332A58;
  --accent-yellow: #FFCB58;
  --pixel-border: 4px;
}

